@font-face {
    font-family: source sans pro;
    src: url(./fonts/SourceSansPro-Regular.otf);
}

*:focus {
    outline: none;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: source sans pro;
    overflow-x: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 97%;
  background-color: #121314;
  color: #fff;
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  transition: 400ms;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.515);
  margin-left: 15px;
  margin-top: 10px;
  border-radius: 10px;
}

a { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


.fas{
    font-size: 22px;
    transition: 200ms;
    opacity: 0.6;
    cursor: pointer;
}

.email{
    font-size: 10.5px;
    font-family: source sans pro;
    color: #8a8a8a;
}

.menu-item span{
    margin-left: 20px;
    font-size: 14px;
    font-family: source sans pro;
}

.fas:hover{
    opacity: 1;
    transition: 200ms;
}

.menu-item.active {
    background-color: rgba(128, 128, 128, 0.589); 
    border-radius: 5px;
    padding-bottom: 4px;
    padding-top: 7px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
}

.sidebar-header h2 {
    margin: 0;
}

.toggle-btn {
    background-color: green;
    border: 1px solid black;
    color: red;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    right: -20px;
}

.toggle-btn:focus {
    outline: none;
}

.sidebar-menu {
  padding: 19px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.menu-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 19px;
    margin-left: -6px;
}

.menu-item i {
    margin-right: 10px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-family: source sans pro;
}

.user-info {
    display: flex;
    align-items: center;
    background: linear-gradient(181deg, rgb(18, 19, 20) 3.6%, rgba(73, 37, 94, 0.7) 90.4%);    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    padding: 10px;
    padding-right: 0px;
    overflow-x: hidden;
    transition: 200ms;
}

.user-info:hover{
    filter: brightness(0.9);
    transition: 200ms;
}

.user-info img {
  width: 43px;
  height: 43px;
  border-radius: 20%;
  margin-left: -2px;
}

.user-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.username {
    font-family: source sans pro;
    font-size: 14px;
    color: rgb(211, 211, 211);
}

.logout-btn {
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    font-size: 20px;
    margin-top: -11px;
    cursor: pointer;
}

.logout-btn:focus {
    outline: none;
}

.logout-container {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
}

.logout-container a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}

.logout-container a:hover {
    text-decoration: underline;
}

.sidebar.active .sidebar-header h2 {
    visibility: hidden;
}

.sidebar.active .sidebar-header h2::after {
    content: 'EV';
    visibility: visible;
    position: absolute;
    left: 20px;
}

.sidebar.active .menu-text {
    opacity: 0;
}

.logo {
  width: 34px;
  margin-left: 3px;
}

#sidebar-title {
    margin-left: 20px;

    font-family: source sans pro;
    letter-spacing: 9px;
    line-height: 0px;
}

hr{
    width: calc(90% - 5px);
    opacity: 0.2;
    color: white;
}

.menu-item {
    cursor: pointer;
    transition: 200ms;
    
}


.menu-item:active{
    transform: scale(0.955);
    transition: 200ms;
}

.menu-item span{
    user-select: none;
}

.sidebar-bottom img{
    user-select: none;
    transition: 200ms;
}

.sidebar-bottom img:hover{
    opacity: 0.6;
    transition: 200ms;
}

.sidebar-bottom{
    cursor: pointer;
}

.logout-btn svg{
  margin-top: 21px;
  margin-right: 4px;
  padding: 5px;
}

.logout-btn svg:hover{
  background-color: rgba(0, 0, 0, 0.474);
  transition: 200ms;
  border-radius: 5px;
  padding: 5px;
}

.login-item{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    min-width: 19px;
    margin-left: 16px;
    transition: 200ms;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.login-item span{
    margin-left: 27px;
    font-size: 14px;
    font-family: source sans pro;
    user-select: none;
}

.login-item:hover{
    opacity: 0.75;
    transition: 200ms;
}

.login-item:active{
    transition: 200ms;
    transform: scale(0.955);
}

#sidebar-toggle{
    position: absolute;
    right: -11px;
    border-radius: 100%;
    background-color: #121314;
    border: none;
    width: 32px;
    height: 32px;
    line-height: 40px;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.7);
    transition: 200ms;
    cursor: pointer;
    font-weight: bold;
    top: 25px;
}

#sidebar-toggle:hover{
    filter: brightness(0.85);
    transition: 200ms;
}

#sidebar-toggle:active{
    filter: brightness(0.7);
    transition: 200ms;
    transform: scale(0.95);
}

#sidebar-toggle.mirrored {
    top: 25px;
    right: -14px;
}

.sidebar.collapsed {
    width: 60px;
}

#sidebar-title {
    transition: opacity 0.3s;
}

#sidebar.expanded #sidebar-title {
    opacity: 1;
}

#userDetails {
    cursor: pointer;
}

#event-page {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px;
  }
  
  .event-card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #181818;
    color: white;
    width: min-content;
    min-width: fit-content;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.515);

  }
  
  .event-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    align-self: center;
  }
  
  .event-title {
    font-size: 1.5em;
    margin-bottom: 8px;
    align-self: center;
  }
  
  .event-description {
    margin-bottom: 8px;
  }
  
  .event-date {
    font-style: italic;
    margin-bottom: 8px;
  }
  
  .event-author {
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .like-button, .comment-button, .edit-event, .delete-event {
    margin-right: 8px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .comment-form {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
  
  .comment-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
  }
  
  .comments-container {
    margin-top: 16px;
  }
  
  .comment {
    border-top: 1px solid #ccc;
    padding-top: 8px;
    position: relative;
    margin-top: 8px;
    width: 200px;
    
  }
  
  #eventForm {
    display: none;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: darkgray;
    width: 300px;
    position: absolute;
    top: 12px;
    left: 35%;
  }
  
  #eventForm input, #eventForm textarea {
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  #eventForm button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #events-content{
    display: flex;
    flex-direction: column-reverse;
  }

  .notification{
    background-color: green;
    border: 2px solid red;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
  }

  #notificationBadge{
    position: absolute;
    color: white;
    top: -5px;
    font-weight: 100;
    margin-left: 14px;
    font-style: normal;
    font-size: 12px;
    font-family: source sans pro;
  }

  #notifications{
    position: relative;
  }

  #notificationsContainer{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 20px;
  }

  #createEventButton{
    margin-left: 15px;
    width: 79%;
}

  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}


.author-info{
    display: flex;
    margin-left: 15px;
    flex-direction: column;
}

.author-name{
    font-weight: bold;
    font-size: 15px;

}

.comment-text{
    font-weight: 100;
    text-overflow: ellipsis;
    font-size: 14px;
    color: gray;
}

.author-image{
    height: 45px;
    width: 45px;
    border-radius: 100%;
}

.dropdown-menu{
    position: absolute;
    margin-top: 40px;
    margin-left: 30px;
    background-color: green;
    border: 1px solid black;
    width: 60px;
    height: 60px;
}

.dropdown-menu button{
    width: 100%;
    text-align: center;
    height: 16px;
    font-size: 12px;
}

.report-form{
position: fixed;
left: 50%;
transform: translate(-50%, 0);
top: 10px;
}

.comment button{
    position: absolute;
    right: 5px;
}

.dropdown-menu button{
    right: 0px;
}

#sidebar {
    width: 60px; /* Adjust as needed */
    transition: width 0.3s ease; /* Add transition for smooth animation */
    overflow-x: hidden;
  }
  
  #content {
    margin-left: 70px; /* Adjust margin for expanded state */
    transition: margin-left 0.3s ease; /* Add transition for smooth animation */
    /* transition-delay: 550ms; */
  }
  
  /* Styles for collapsed sidebar */
  #sidebar.collapsed {
    width: 60px; /* Adjust width for collapsed state */
  }
  
  #content.expanded {
    margin-left: 240px; /* Adjust margin for expanded state */
    transition-delay: 0ms;
  }
  
  .edit-comment{
margin-top: 20px;
  }

  .delete-comment{
    margin-top: 40px;
  }

  #sidebar:hover{
    width: 230px;
    transition-delay: 0ms;
    
  }

  #sidebar{
    /* transition-delay: 550ms; */
  }

  .nav-bar{
    display: flex;
    background-color: white;
    justify-content: right;
    align-items: center;
    color: black;
    font-size: 20px;
    font-family: source sans pro;
    user-select: none;
    gap: 20px;
    padding: 20px;
  }

  #search{
    left: 20px;
    position: absolute;
    width: 50%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-family: source sans pro;
  }

  #event-bucket{
    margin-right: 10px;
  }

  .bar-icon{
    cursor: pointer;
  }

  .bar-icon:hover{
    opacity: 0.75;
    transition: 200ms;
}
.bar-icon:active{
    transform: scale(0.9);
    transition: 200ms;
}

form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;

  padding: 9px 4px 9px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

#mapContainer {
  height: 400px;
  width: 100%;
  display: none;
}

.not-limited-container{
  display: flex;
}

#eventsContainer{
  display: flex;
}

#home-content, #events-content, #calendar-content, #tournaments-content{
  padding: 25px;
  padding-top: 13px;
}


.menu-item:hover {
  background-color: rgb(45, 42, 42);
  border-radius: 5px;
  color: white;
  transition: 200ms;
}

.menu-item{
  transition: 200ms;
  padding: 8px;
}

#dark-light-toggle{
  margin-top: -10px;
}

#homeButton{
  margin-top: -22px;
}

a{
  text-decoration: none;
  color: inherit;

}